aurora-data-api==0.4.0
boto3==1.21.32
botocore==1.24.32
greenlet==1.1.2
jmespath==1.0.0
python-dateutil==2.8.2
s3transfer==0.5.2
six==1.16.0
SQLAlchemy==1.4.34
sqlalchemy-aurora-data-api==0.4.0
urllib3==1.26.9
